@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400&family=Open+Sans:wght@400;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--background);
  color: var(--font);
}

input,
textarea {
  padding: 12px;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
  color: var(--font);
  border: 1px solid var(--border-input);
  border-radius: 4px;
}

textarea {
  height: 120px;
  resize: vertical;
}

input::placeholder,
textarea::placeholder {
  color: var(--placeholder);
  font-weight: bold;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.wrapper-box-notes {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.wrap-note {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.wrap-note button {
  height: max-content;
}

.wrap-note.label-archived {
  height: 24px;
}

.wrap-menu-card {
  border-radius: 4px;
  position: absolute;
  background-color: #fff;
  right: 10px;
  top: 40px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  width: 100px;
}

.menu-card-icon {
  position: relative;
}

.box-wrapper {
  border: 1px solid var(--border-input);
  padding: 30px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition: all 0.2s;
}

.box-wrapper:hover,
.navigation-button:hover {
  background-color: var(--box-hover);
}

.hero-wrapper {
  max-width: 1000px;
  margin: 0 auto 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--border-input);
}

.title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3em;
}

.hero-icon-wrapper {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logout-button {
  display: flex;
  align-items: center;
  gap: 12px;
}

.navigation-wrapper {
  display: flex;
  gap: 12px;
}

.navigation-button {
  padding: 8px 16px;
  color: var(--font-nav);
  border: 1px solid var(--border-nav);
  border-radius: 8px;
  margin-bottom: 16px;
  cursor: pointer;
}

.navigation-button.active {
  background-color: var(--active-nav);
  color: var(--font-active-nav);
}

.container-wrapper {
  margin: 10px auto 15px;
  padding: 0 20px;
}

.body-wrapper {
  max-width: 1000px;
  margin: 15px auto;
}

.shadow-overlay {
  background-color: var(--shadow);
  inset: 0;
  position: fixed;
  z-index: 2;
}

.detail-note-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.detail-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #bcbcc0;
}

.new-note-wrapper {
  max-width: 500px;
  width: 92%;
  padding: 30px;
  position: fixed;
  z-index: 3;
  left: 50%;
  background-color: var(--background);
  border-radius: 8px;
  animation: fadeUp forwards 1 300ms ease-in-out;
}

.edit-note {
  z-index: 4;
}

@keyframes fadeUp {
  from {
    top: 30%;
    opacity: 0;
    transform: translateX(-50%);
  }

  to {
    top: 15%;
    opacity: 1;
    transform: translateX(-50%);
  }
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.empty-notes-wrapper {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
}

.empty-notes-wrapper img {
  width: 300px;
  margin: 0 auto;
}

.button-submit,
.button-secondary {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 700;
  background-color: var(--border-nav);
  border-color: var(--border-nav);
  color: var(--background);
  transition: all 0.2s;
}

.button-submit:hover,
.button-submit:disabled,
.navigation-button.active:hover {
  color: var(--background);
  background-color: var(--btn-submit-hover);
  border-color: var(--btn-submit-hover);
}

.button-secondary {
  background-color: transparent;
  border-color: var(--border-nav);
  color: var(--border-nav);
}

.button-secondary:hover {
  background-color: var(--btn-secondary-hover);
}

.button-submit:disabled {
  color: #3f3f45;
  cursor: default;
  background: var(--btn-secondary-hover);
  border: 1px solid var(--btn-submit-disabled);
}

.icon-action-wrapper {
  position: fixed;
  right: 30px;
  bottom: 30px;
  display: flex;
  gap: 12px;
}

.icon-action-button {
  border-radius: 50%;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transition: 0.2s all;
  border: none;
  outline: none;
}

.icon-action-button.add-note {
  background-color: var(--add-note);
  box-shadow: 0px 7px 40px 4px rgba(0, 0, 0, 0.34);
}

.icon-action-button.add-note:hover {
  background-color: var(--btn-submit-hover);
  border-color: var(--add-note-hover);
}

.icon-action-button.archive-note,
.icon-action-button.archived-note,
.icon-action-button.delete-note {
  background-color: var(--icon-action);
  box-shadow: 0px 7px 40px 10px rgba(0, 0, 0, 0.07);
}

.icon-action-button.archive-note:hover,
.icon-action-button.archived-note:hover,
.icon-action-button.delete-note:hover {
  background-color: var(--icon-action-hover);
}

.icon-action-button img {
  width: 26px;
}

.icon-action-button.add-note img {
  filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(109deg) brightness(107%) contrast(101%);
}

.quotes-wrapper {
  max-width: 400px;
  width: 92%;
  margin: 0 auto;
  font-family: 'Kalam', cursive;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.button-action-wrapper {
  display: flex;
  gap: 8px;
}

.delete-notif-wrapper {
  position: fixed;
  z-index: 3;
  right: -1000px;
  bottom: 10px;
  opacity: 0;
  padding: 14px 20px;
  border-radius: 6px;
  background-color: red;
  transition: 300ms all ease-in-out;
}

.delete-notif-wrapper.active {
  right: 10px;
  opacity: 1;
}

.footer-container {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer-link {
  color: var(--link);
}

@media only screen and (max-width: 768px) {
  .wrapper-box-notes {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 480px) {
  .navigation-wrapper {
    overflow-x: scroll;
    width: 100vw;
    position: relative;
    transform: translateX(-20px);
    padding: 0 20px;
  }

  .wrapper-box-notes {
    grid-template-columns: 1fr;
  }

  .navigation-button {
    padding: 8px 10px;
    min-width: max-content;
  }
}
